main{
    font-size: 16px;
    font-family: 'Quicksand';
    line-height: 25px;
    margin-left: 18%;
    margin-right: 18%;
}

.signup-sheet{
    margin-top: 75px;
    width: 100%;

}

h1{
    font-family: 'Montserrat';
    letter-spacing: 1.5px;
    margin-top: 125px;
    margin-bottom: 70px;
    font-size: 40px;
    color: #5094dc;
    line-height: 40px;
}

.executive-titles{
    margin-bottom: 50px;
}

.navbar ul{
    list-style-type: none;
    background-color: #082c5c;
    width: 100%;
    padding: 0% 10% 0% 0%;
    margin: -8px;
    overflow: hidden;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 20px;
    display: block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 599;
    font-size: 13px;
    letter-spacing: 1.5px;
}

.navbar a:hover{
    transition: color 0.25s;
    color: #b5b4b4;
}

.navbar li{
    float: right;
}

.navbar .dropdown{
    display: none;
    position: absolute;
    background-color: #f02331;
    min-width: 100px;
    box-shadow: 2px 2px 5px rgb(152, 152, 152);
}

.symposium:hover .dropdown{
    display:block;
}

.img-building{
    width: 50%;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}

.img-logo{
    margin-top: 75px;
    margin-left: 10%;
    width: 20%
}

figcaption{
    margin: auto;
    margin-top: 25px;
    margin-bottom: 100px;
    width: 75%;
    text-align: center;
}

footer {
    position: absolute; 
    width: 100%;
    bottom: 1; 
    left: 0; 
    background-color: #082c5c;
    color: white;
    text-align: center;
    font-size: 14px;
    font-family: 'Quicksand';
    line-height: 25px;
  }

.bayer-logo{
    width: 250px;
    margin-top: 100px;
    margin-right: 75px;
}

.bristol-myers-squibb-logo{
    width: 350px;
    margin-right:75px;
    margin-top: 100px;
}

.servier-logo{
    margin-right:40px;
    margin-top: 80px;
}

.octapharma-logo{
    margin-left: 30px;
}

.portola-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 125px;
    margin-bottom: 100px;
}

table, th, td {
  border: 1px solid;
  margin: auto;
  width: 100%;
  margin-bottom: 75px;
}

.symposium-text{
    margin-left: 20%;
    margin-right: 20%;
}

.headshots{
    margin-top: 150px;
    margin-bottom: -90px;
    width: 300px;
    border-radius: 10px;
    display: block;
    margin-left: 1%;
}

.line{
    border-top: 4px solid#5094dc;
    margin-top: 50px;
    margin-bottom: -100px;
}